.meg-lt-footer {
    background-color: $color-lt-bg-content;
    padding-top: $padding-top * 2.5;
    box-sizing: border-box;
    > .meg-lt-footer--info,
    > .meg-lt-footer--credits {
        font-size: $font-size-base - .4;
    }
}
