.meg-lt-header {
    .meg-lt-header__content {
        display: flex;
        position: relative;
    }
    .meg-lt-logo {
        .meg-lt-logo__link {
            display: block;
        }
    }
}

// Device (Tablet)
@media (min-width: $responsive-tablet) {

    .meg-lt-header {
        .meg-lt-logo {
            .meg-lt-logo__link {
                background: url($logo) no-repeat left center;
                width: $logo-width;
                height: $logo-height;
            }
        }
    }

}

// Device (Tablet)
@media (min-width: $responsive-mobile) and (max-width: $responsive-tablet) {

    .meg-lt-header {
        .meg-lt-logo {
            .meg-lt-logo__link {
                background: url($logo) no-repeat left center;
                width: $logo-width;
                height: $logo-height;
            }
        }
    }

}

// Device (Mobile)
@media screen and (max-width: $responsive-mobile) {

    .meg-lt-header {
        .meg-lt-logo {
            .meg-lt-logo__link {
                background: url($logo-mobile) no-repeat left center;
                width: $logo-mobile-width;
                height: $logo-mobile-height;
                margin: 0 auto;
            }
        }
    }

}