.meg-lt-sidebar {
    .meg-lt-sidebar__main {
        padding-top: $padding-top;
        padding-left: $padding-left;
        padding-right: $padding-right;
        padding-bottom: $padding-bottom;
    }
}