.meg-c-breadcrumb {
    padding: $padding;
    list-style: none;
    .meg-c-breadcrumb__item {
        display: inline;
        .meg-c-item__link {
            color: lighten($color-font, 10%);
            text-decoration: none;
        }
        .meg-c-item__link:hover {
            color: $primary;
            text-decoration: underline;
        }
    }
    .meg-c-breadcrumb__item + .meg-c-breadcrumb__item::before {
        padding: 8px;
        color: $color-font;
        content: "/\00a0";
    }
    .meg-c-breadcrumb__item.meg-c-breadcrumb__current .meg-c-item__link,
    .meg-c-breadcrumb__item.meg-c-breadcrumb__current {
        font-weight: bold;
    }
}