.meg-c-filters {
    .meg-c-filters__head {
        position: relative;
    }
    .meg-c-filters__block {
        margin-bottom: 10px;
        .meg-c-filters__title {
            padding: 10px 0px;
            font-weight: 600;
        }
        .meg-c-filters__checkboxes {
            .meg-c-filters__checkbox {
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
                position: relative;
                cursor: pointer;
            }
        }
    }
}