.meg-c-floatbox {
    padding-top: 10px;
    display: none;
    position: absolute;
    z-index: 3;
    right: -10px;
    margin-top: 0px;
    &.meg-c-float-box--small {
        width: 150px;
    }
    &.meg-c-float-box--medium {
        width: 300px;
    }
    &.meg-c-float-box--full {
        width: 100%;
    }
    .meg-c-floatbox--inner {
        color: $color-font;
        width: 100%;
        padding-top: $padding-top * 2;
        padding-right: $padding-right * 2;
        padding-bottom: $padding-bottom * 2;
        padding-left: $padding-left * 2;
        background: $color-lt-secondary;
        border: 1px solid $color-border;
        border-radius: $radius;
        &::before {
            content: "";
            background-position: 0 -15px;
            height: 0px;
            width: 0px;
            top: 0px;
            right: $margin-right / 2;
            position: absolute;
            z-index: 20;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $color-border;
        }
    }

}

.meg-c-floatbox--hover {
    position: relative;
    &:hover {
        .meg-c-floatbox {
            display: block;
        }
    }
}

.meg-c-floatbox--click {
    position: relative;
    label {
        cursor: pointer;
    }
    .meg-c-floatbox--input {
        display: none;
    } 
    .meg-c-floatbox--input[type=checkbox]:checked + label + .meg-c-floatbox {
        display: block;
    }
}

// Device (Mobile)
@media screen and (max-width: $responsive-mobile) {
    .meg-c-floatbox {
        .meg-c-floatbox--inner {
            &::before {
                right: 20px;
            }
        }
    }
}