.meg-c-menu__input {
    display: none;
}

// Desktop 
@media (min-width: $responsive-tablet) and (max-width: $responsive-desktop) {
    .meg-lt-nav {
        &.meg-lt-nav--transparent {
            .meg-c-menu {
                .meg-c-menu__item {
                    text-align: left;
                    > .meg-el-item__link {
                        color: rgba(255, 255, 255, .9);
                        &:hover {
                            border-bottom-color: #fff;
                            color: #fff;
                        }
                    }
                    > .meg-c-menu__label {
                        color: rgba(255, 255, 255, .9);
                    }
                    &:hover {
                        border-bottom-color: #fff;
                        background: rgba(255, 255, 255, .1);
                    }
                }
            }
        }
        .meg-c-menu {
            .meg-c-menu__item {
                > .meg-el-item__link {
                    color: $color-font;
                }
                > .meg-c-menu__label {
                    color: $color-font;
                    z-index: 2;
                    cursor: pointer;
                }
                &:hover,
                &:active,
                &:focus {
                    > .meg-c-menu__label {
                        color: #fff;
                    }
                    .meg-c-item__megamenu {
                        display: block;
                    }

                    border-bottom-color: $primary;
                }
            }
        }
    }
    .meg-c-menu {
        &.meg-c-menu--inline {
            display: flex;
            flex-wrap: nowrap;
            align-content: space-between;
            position: relative;
            .meg-c-menu__item {
                &::before {
                    content: "";
                    width: 1px;
                    height: 70%;
                    background: rgba(0, 0, 0, .1);
                    position: absolute;
                    top: 8px;
                }
                &:first-child::before {
                    display: none;
                }

                display: block;
                flex: 1 1 auto;
                border-bottom: 3px solid transparent;
                > .meg-el-item__link {
                    align-content: center;
                    text-align: center;
                    display: block;
                    padding: 15px 0px 12px 0px;
                    text-decoration: none;
                    font-size: 1.2em;
                    position: relative;
                    > i {
                        position: absolute;
                        right: 10px;
                        top: 16px;
                    }
                }
                .meg-c-menu__label {
                    position: absolute;
                    right: 10px;
                    top: 14px;
                    font-size: 1.4em;
                    display: none;
                }
                .meg-c-item__megamenu {
                    display: none;
                    padding: 10px 10px 0px 10px;
                    background-color: $layout-secondary;
                    width: 100.1%;
                    position: absolute;
                    border-top: 1px solid transparent;
                    left: -1px;
                    margin-top: 3px;
                    z-index: 4;
                    border: 1px solid $color-border;
                    border-radius: $radius;
                }
            }
        }
        .meg-c-menu__item {
            .meg-c-menu__input {
                display: none;
            }
        }
        &.meg-c-menu--block {
            .meg-c-menu__item {
                display: block;
                flex: 1 1 auto;
                border-bottom: 1px solid $color-border;
                > .meg-el-item__link {
                    align-content: center;
                    text-align: left;
                    display: block;
                    padding: 15px 0px 12px 15px;
                    text-decoration: none;
                    font-size: 1.2em;
                    position: relative;
                    > i {
                        position: absolute;
                        right: 10px;
                        top: 16px;
                        transform: rotate(-90deg);
                    }
                }
                .meg-c-menu__label {
                    position: absolute;
                    right: 10px;
                    top: 14px;
                    font-size: 1.4em;
                    display: none;
                }
                .meg-c-item__megamenu {
                    display: none;
                    padding: 10px 10px 0px 10px;
                    background: $color-lt-bg-content;
                    width: 76.2%;
                    position: absolute;
                    border-left: 1px solid $color-border;
                    z-index: 4;
                    right: 1.6%;
                    margin-top: -46px;
                }
                &:hover {
                    background-color: $color-lt-bg-hover;
                }
            }
        }
    }
}

// Device (Mobile and tablet)
@media screen and (max-width: $responsive-tablet) {
    .meg-c-nav__overlay {
        background: rgba(0, 0, 0, .6);
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 4;
        width: 100%;
        height: 100%;
        display: none;
    }
    .meg-c-menu-nav__label {
        font-size: 2.5em;
    }
    .meg-c-menu__input:checked + .meg-c-nav__overlay {
        display: block;
    }
    .meg-c-menu__input:checked + .meg-c-nav__overlay + .meg-lt-nav {
        left: 0px;
    }
    .meg-lt-nav {
        overflow-y: auto;
        transition: left .3s;
        position: fixed;
        left: -310px;
        top: 0;
        background-color: $layout-secondary;
        width: 300px;
        height: 100%;
        z-index: 4;
        .meg-c-nav__header {
            padding: 20px 0px;
            position: relative;
            .meg-c-nav__header--title {
                font-size: 1.2em;
            }
            > .meg-c-nav__close {
                position: absolute;
                right: 15px;
                top: 15px;
            }
            .meg-c-nav__close {
                color: $cancel;
                cursor: pointer;
                font-size: 2em;
                position: absolute;
                top: 15px;
                right: 0px;
                text-decoration: none;
            }
        }
        .meg-c-menu {
            > .meg-c-menu__item {
                position: relative;
                padding: 15px 0px 0px 0px;
                > .meg-c-menu__label {
                    position: absolute;
                    right: 10px;
                    font-size: 1.6em;
                }
                .meg-c-item__megamenu {
                    display: none;
                    padding: 0px !important;
                    width: 100%;
                    margin-bottom: 0px;
                    > .meg-lt-row {
                        flex-wrap: wrap !important;
                        margin-bottom: 0px;
                        .meg-lt-col {
                            padding: 0px;
                            width: 100%;
                            margin: 0px;
                            .meg-el-list {
                                display: none;
                            }
                            .meg-el-heading {
                                padding-top: 15px;
                                margin-bottom: 15px;
                                border-top: 1px solid $color-border;
                                .meg-el-heading__link {
                                    padding-left: 10px;
                                    font-weight: 100;
                                }
                                .meg-c-menu__label {
                                    position: absolute;
                                    right: 10px;
                                    font-size: 1.2em;
                                }
                            }
                        }
                    }
                    .meg-c-menu__item--image {
                        display: none;
                    }
                }
                .meg-el-item__link {
                    color: $color-font;
                    text-decoration: none;
                    font-size: 1.2em;
                    padding-left: 10px;
                    display: inline-block;
                    margin-bottom: 15px;
                    > i {
                        display: none;
                    }
                }
                .meg-c-menu__input {
                    display: none;
                    &:checked + .meg-el-item__link + .meg-c-menu__label + .meg-c-item__megamenu,
                    &:checked + .meg-el-heading + .meg-el-list {
                        display: block;
                    }
                    &:checked + .meg-el-item__link + .meg-c-menu__label,
                    &:checked + .meg-el-heading > .meg-c-menu__label {
                        transform: rotate(180deg);
                    }
                }
            }
            > .meg-c-menu__item + .meg-c-menu__item {
                border-top: 1px solid $color-border;
            }
        }
        .meg-el-list {
            box-sizing: border-box;
            width: 100%;
            margin: 0px;
            background-color: $layout-tertiary;
            .meg-el-list__item {
                box-sizing: border-box;
                padding: 15px 0px;
                border-top: 1px solid $color-border;
                a {
                    margin-bottom: 0px !important;
                }
            }
        }
    }
}