.meg-c-modal {
    &.actived {
        .meg-c-modal__wrap::before,
        .meg-c-modal__wrap .meg-c-modal__overlay {
            display: block;
        }
        .meg-c-modal__wrap .meg-c-modal__dialog {
            transform: translate(-50%, -50%);
            position: fixed;
            top: 40%;
        }
    }
    .meg-c-modal__header {
        .meg-c-modal__header--title {
            font-size: 1.6em;
        }
    }
    .meg-c-modal__wrap::before {
        content: '';
        display: none;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 4;
        cursor: pointer;
    }
    .meg-c-modal__overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        cursor: pointer;
    }
    .meg-c-modal__dialog {
        background: $color-lt-bg-content;
        border: 1px solid $color-border;
        position: fixed;
        left: 50%;
        top: -100%;
        transform: translate(-50%, -150%);
        transition: transform .2s ease-out;
        width: 80%;
        max-width: 600px;
        z-index: 5;
        border-radius: $border-radius-primary;
        overflow: hidden;
        .meg-c-modal__header,
        .meg-c-modal__body,
        .meg-c-modal__footer {
            padding: 20px;
        }
        .meg-c-modal__body {
            max-height: 350px;
            overflow-y: auto;
        }
        .meg-c-modal__footer {
            background: $color-lt-bg-light;
        }
    }
    .meg-c-modal__btn-close {
        color: lighten($color-font, 20%);
        cursor: pointer;
        font-size: 3rem;
        position: absolute;
        top: 20px;
        right: 20px;
        text-decoration: none;
    }
}

@media screen and (max-width: $responsive-mobile) {
    .meg-c-modal {
        &.actived {
            .meg-c-modal__wrap .meg-c-modal__dialog {
                width: 96%;
                height: auto;
                left: 0;
                margin-left: 2%;
                margin-right: 2%;
                transform: initial;
                top: 10%;
            }
        }
        .meg-c-modal__dialog {
            transition: none;
        }
    }
}