.meg-c-notification-box__open:checked + .meg-c-notification-box {
    display: block;
}

.meg-c-notification-box {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    background: $color-lt-bg-content;
    width: auto;
    position: absolute;
    z-index: 5;
    display: none;
    margin-top: 10px;
    top: 30px;
    border: 1px solid $color-border;
    &.meg-c-notification-box--left {
        left: 0;
    }
    &.meg-c-notification-box--right {
        right: 0;
    }
    &.meg-c-notification-box--default {
        width: 100%;
    }
    &.meg-c-notification-box--small {
        width: 150px;
    }
    &.meg-c-notification-box--medium {
        width: 300px;
    }
    &.meg-c-notification-box--large {
        width: 450px;
    }
    > .meg-c-notification-box__header {
        display: flex;
        -js-display: flex;
        padding: 10px;
        border-bottom: 1px solid $color-border;
        font-size: 1.2em;
        left: 0;
        .meg-c-header--notification,
        .meg-c-header--actions {
            flex: 0 1 50%;
            color: $color-font;
        }
        .meg-c-header--actions {
            text-align: right;
            a {
                color: $color-font;
                &:hover {
                    color: lighten($color-font, 20%);
                }
            }
            i {
                margin-right: 0px;
            }
        }
    }
    > .meg-c-notification-box__content {
        padding: 10px;
        color: $color-font;
    }
}

.meg-c-box-notification {
    display: flex;
    -js-display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 10px;
}

@media screen and (max-width: $responsive-mobile) {
    .meg-c-notification-box {
        width: 100% !important;
        left: 0;
    }
    .meg-c-box-notification {
        flex-wrap: wrap;
        .meg-el-list__item {
            width: 100%;
            > label {
                width: 100%;
                display: block;
            }
        }
    }
}