// Desktop 
@media (min-width: $responsive-tablet) and (max-width: $responsive-desktop) {

    .meg-c-pitbar {
        display: flex;
        align-content: space-around;
        margin-bottom: 5px;
        > .meg-c-pitbar__item {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            background-color: $color-lt-bg-content;
            margin-right: 2px;
            justify-content: center;
            position: relative;
            > .meg-c-item__image {
                margin-right: 20px;
                font-size: 2.5em;
            }
            > .meg-c-item__title {
                font-weight: 600;
                > span {
                    display: block;
                    font-weight: 100;
                    color: $color-font;
                }
            }
            &:last-child {
                margin-right: 0px;
                &::before {
                    display: none;
                }
            }
            &::before {
                content: "";
                width: 1px;
                height: 100%;
                right: 0px;
                position: absolute;
                top: 0;
                background: $color-border;
            }
        }
    }

}

// Tablet
@media (min-width: $responsive-mobile) and (max-width: $responsive-tablet) {

    .meg-c-pitbar {
        display: flex;
        align-content: space-around;
        margin-bottom: 5px;
        > .meg-c-pitbar__item {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            background-color: $color-lt-bg-content;
            margin-right: 2px;
            > .meg-c-item__image {
                margin-right: 20px;
                font-size: 30px;
            }
            > .meg-c-item__title {
                font-weight: 900;
                font-size: 1em;
                > span {
                    display: block;
                    font-size: 1em;
                    font-weight: 100;
                    color: $color-font;
                }
            }
            &:last-child {
                margin-right: 0px;
            }

            &::before {
                display: none;
            }
        }
    }

}

// Mobile
@media screen and (max-width: $responsive-mobile) {
    .meg-c-pitbar {
        display: block;
        align-content: center;
        text-align: center;
        > .meg-c-pitbar__item {
            text-align: center;
            display: block;
            align-content: center;
            margin-bottom: 20px;
            > .meg-c-item__title {
                font-size: 1.1em;
                > span {
                    display: block;
                    font-size: .9em;
                }
            }
            > .meg-c-item__image {
                margin-right: 0px;
                margin-bottom: 10px;
                font-size: 30px;
            }
        }
    }
}
