.meg-c-progress-bar {
    color: #fff;
    background-color: $color-lt-bg-light;
    margin-bottom: 10px;
    overflow: hidden;
    @include border-radius(50px);
    .meg-c-progress-bar__inner {
        text-align: center;
        padding: 1px;
        color: rgba(255, 255, 255, .8);
        font-size: 1em;
    }
}