.meg-li-shelf {
    &.meg-li-shelf--inline {
        display: flex;
        -js-display: flex;
        flex-wrap: wrap;
        &.meg-li-shelf--no-margin-left-item-1:nth-child(1n + 0) {
            margin-left: 0px;
        }
        &.meg-li-shelf--no-margin-left-item-2n-1-lg > .meg-li-shelf__item:nth-child(2n+1),
        &.meg-li-shelf--no-margin-left-item-3n-1-lg > .meg-li-shelf__item:nth-child(3n+1),
        &.meg-li-shelf--no-margin-left-item-4n-1-lg > .meg-li-shelf__item:nth-child(4n+1) {
            margin-left: 0px;
        }
        > .meg-li-shelf__item {
            box-sizing: border-box;
            flex: 0 0 auto;
            color: $color-font;

            > .meg-li-shelf__figure {
                margin-bottom: 10px;
            }
        }
        &.meg-li-shelf-5-items > .meg-li-shelf__item {
            width: 20%;
        }
        &.meg-li-shelf-4-items > .meg-li-shelf__item {
            width: 25%;
        }
    }
    &--block {
        display: block;
        > .meg-li-shelf__item {
            width: 100%;
            display: flex;
            -js-display: flex;
            align-items: center;
            > .meg-li-shelf__figure,
            > .meg-li-shelf__actions {
                width: 20%;
            }
            > .meg-li-shelf__infos {
                width: 60%;
                padding-right: 2%;
                padding-left: 2%;
            }
        }
    }
    > .meg-li-shelf__item {
        padding: 10px;
        box-sizing: border-box;
        > .meg-li-shelf__infos {
            > .meg-li-shelf__title {
                margin-bottom: 10px;
                > .meg-li-shelf__link {
                    text-decoration: none;
                    font-size: 1.2em;
                }
            }
            > .meg-li-shelf__description {
                margin-bottom: 10px;
            }
        }
        > .meg-li-shelf__figure {
            a {
                display: block;
                > img {
                    width: 100%;
                }
            }
        }
        > .meg-li-shelf__actions {
            > .meg-li-shelf__list-price {
                margin-bottom: 10px;
                display: block;
                text-decoration: line-through;
            }
            > .meg-li-shelf__best-price {
                font-size: 2.0em;
                font-weight: 900;
                margin-bottom: 10px;
                > span {
                    display: inline-block;
                }
            }
            > .meg-li-shelf__installment {
                margin-bottom: 10px;
            }
        }
    }
}

// Tablet
@media (min-width: $responsive-mobile) and (max-width: $responsive-tablet) {
    .meg-li-shelf {
        &--inline {
            > .meg-li-shelf__item {
                width: 25%;
            }
        }
        &--block {
            > .meg-li-shelf__item {
                > .meg-li-shelf__actions {
                    width: 30%;
                }
                > .meg-li-shelf__figure {
                    width: 20%;
                    a {
                        display: block;
                        > img {
                            width: 100%;
                        }
                    }
                }
                > .meg-li-shelf__infos {
                    width: 50%;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: $responsive-mobile) {
    .meg-li-shelf {
        &--inline {
            margin-left: -10px;
            margin-right: -10px;
            > .meg-li-shelf__item {
                width: 50% !important;
                > .meg-li-shelf__figure {
                    margin-bottom: 10px;
                }
            }
        }
        &--block {
            margin-left: -10px;
            margin-right: -10px;
            > .meg-li-shelf__item {
                flex-wrap: wrap;
                > .meg-li-shelf__actions,
                > .meg-li-shelf__figure,
                > .meg-li-shelf__infos {
                    width: 100%;
                    padding: 0px;
                }
                > .meg-li-shelf__figure {
                    margin-bottom: 10px;
                }
            }
        }
        .meg-li-shelf__best-price {
            font-size: 1.5em !important;
        }
    }
}