.meg-c-stores {
    padding: 15px;
    background-color: $color-lt-bg-content;
    .meg-c-stores__title {
        font-weight: 400;
        margin-bottom: 10px;
    }
    > .meg-c-stores__list {
        display: flex;
        overflow-y: auto;
        width: 100%;
        > .meg-c-store {
            text-align: center;
            > .meg-c-store__title {
                display: block;
                text-align: center;
                margin-top: 5px;
            }
            img {
                padding: 3px;
                background: $color-lt-bg-light;
                border: 2px solid $color_border;
            }
        }
        > .meg-c-store + .meg-c-store {
            margin-left: 1.5%;
        }
        > .meg-c-store.meg-actived,
        > .meg-c-store:hover {
            img {
                border: 2px solid $primary;
            }
        }
    }
}