.meg-c-tab {
    position: relative;
    margin: 0px 0px;
    .meg-c-tabs {
        display: flex;
        -js-display: flex;
        border-bottom: 1px solid $color-border;
    }
    .meg-c-tab__painel {
        margin-bottom: 0px;
        .meg-c-tab__nav {
            cursor: pointer;
            font-size: 1.4rem;
            display: inline-block;
            padding: $padding-top $padding-right * 2 $padding-bottom $padding-left * 2;
            margin-right: 0px;
            text-decoration: none;
            color: $color-font;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            opacity: .7;
            background-color: $gray;
        }
        & + .meg-c-tab__painel {
            margin-left: 5px;
        }
    }
    .meg-c-tab__contents {
        &:last-child .meg-c-tab__nav {
            margin-right: 0px;
        }
    }
    .meg-c-tab__nav:hover,
    .meg-c-tab__nav.actived {
        background-color: $color-lt-bg-content;
        z-index: 1;
        position: relative;
        border-top: 1px solid $color-border;
        border-left: 1px solid $color-border;
        border-right: 1px solid $color-border;
        opacity: 1;
    }
    .meg-c-tab__inner {
        background: $color-lt-bg-content;
        margin-top: -2px;
        padding: 10px;
        border: 1px solid $color-border;
        width: 100%;
        overflow-y: auto;
        display: none;
    }
    .meg-c-tab__inner.actived {
        display: block;
    }
}

// Mobile
@media screen and (max-width: $responsive-mobile) {
    .meg-c-tab__inner {
        padding: 20px 0px;
    }
}