.meg-c-tags {
    &--inline {
        margin-bottom: $margin-bottom;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        -ms-flex-pack: start;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        align-items: center;
    }
    &:not(.meg-c-tags--space-between) {
        .meg-c-tag {
            margin-right: $margin-bottom * 2;
        }
    }
}

.meg-c-tag {
    @extend .meg-el-btn;
    
    cursor: default;
    margin-bottom: $margin-bottom;
    &:last-child {
        margin-right: 0px;
    }
    &--small {
        @extend .meg-el-btn--small;
    }
    &--medium {
        @extend .meg-el-btn--medium;
    }
    &--actions {
        margin-bottom: $margin-bottom;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        -ms-flex-pack: start;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        align-items: center;
        .meg-c-actions__image {
            margin-right: 10px;
            border-radius: 50%;
        }
        .meg-c-tag__actions {
            margin-left: 10px;
        }
    }
}