/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
// Blocks

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family;
}

html,
body,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

p {
    margin-top: 0px;
    padding: 0;
    word-wrap: break-word;
}

div {
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 600;
}

ul {
    list-style: none;
    list-style-type: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

input[type=search] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

img,
embed,
iframe,
object,
audio,
video {
    height: auto;
    max-width: 100%;
}

img {
    border: none;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}

a {
    word-wrap: break-word;
}
