.c-accordion {
    position: relative;
    margin: $margin-top 0px $margin-bottom 0px;
    display: block;
    .c-accordion__painel {
        margin-bottom: 5px;
        .c-accordion__nav {
            cursor: pointer;
            padding: 10px 20px;
            border: 1px solid transparent;
            display: block;
            background-color: $layout-secondary;
        }
        input {
            display: none;
        }
    }
    .c-accordion__nav:hover,
    .c-accordion__open:checked + .c-accordion__nav {
        background-color: $primary;
        color: #fff;
        border: 1px solid $color-border;
        z-index: 2;
        position: relative;
        font-weight: bold;
    }
    .c-accordion__inner {
        visibility: hidden;
        padding: 20px;
        width: 100%;
        z-index: 1;
        display: none;
        background-color: $layout-tertiary;
    }
    .c-accordion__open:checked ~ .c-accordion__inner {
        visibility: visible;
        display: block;
    }
}
