.breadcrumb {
    padding: $padding;
    list-style: none;
    .breadcrumb__item {
        display: inline;
        .c-item__link {
            color: lighten($color-font, 10%);
            text-decoration: none;
        }
        .c-item__link:hover {
            color: $primary;
            text-decoration: underline;
        }
    }
    .breadcrumb__item + .breadcrumb__item::before {
        padding: 8px;
        color: $color-font;
        content: "/\00a0";
    }
    .breadcrumb__item.breadcrumb__current .c-item__link,
    .breadcrumb__item.breadcrumb__current {
        font-weight: bold;
    }
}
