.c-floatbox {
    padding-top: 10px;
    display: none;
    position: absolute;
    z-index: 3;
    right: 0px;
    margin-right: -10px;
    margin-top: 0px;
    min-width: 150px;
    .c-floatbox--inner {
        color: $color-font;
        padding-top: $padding-top * 2;
        padding-right: $padding-right * 2;
        padding-bottom: $padding-bottom * 2;
        padding-left: $padding-left * 2;
        background: $color-l-secondary;
        border-radius: $radius;
        box-shadow: 0 1px 4px rgba(0,0,0,.1);

        &::before {
            content: "";
            background-position: 0 -15px;
            height: 0px;
            width: 0px;
            top: 0px;
            right: $margin-right / 2;
            position: absolute;
            z-index: 20;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $color-l-secondary;
        }
    }

}

.c-floatbox--hover {
    position: relative;
    &:hover {
        .c-floatbox {
            display: block;
        }
    }
}

.c-floatbox--click {
    position: relative;
    label {
        cursor: pointer;
    }
    .c-floatbox--input {
        display: none;
    } 
    .c-floatbox--input[type=checkbox]:checked + label + .c-floatbox {
        display: block;
    }
}

// Device (Mobile)
@media screen and (max-width: $responsive-mobile) {
    .c-floatbox {
        .c-floatbox--inner {
            &::before {
                right: 20px;
            }
        }
    }
}
