.navbar {
    .navbar__brand {
        display: block;
    }
    .row {
        align-items: center;
    }
}

@media (min-width: $responsive-mobile) and (max-width: $responsive-tablet) {
    .navbar {
        padding-left: $padding-left;
        padding-right: $padding-right;
    }
}

@media screen and (max-width: $responsive-mobile) {
    .navbar {
        padding-left: $padding-left;
        padding-right: $padding-right;
    }
}
