.c-progress-bar {
    color: #fff;
    background-color: $color-l-bg-light;
    margin-bottom: 10px;
    overflow: hidden;
    @include border-radius(50px);
    .c-progress-bar__inner {
        text-align: center;
        padding: 1px;
        color: rgba(255, 255, 255, .8);
    }
}