.c-ribbon {
    padding: $padding-top 0px $padding-bottom 0px;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: $margin-bottom;
    > .c-ribbon__discount,
    > .c-ribbon__off {
        flex: 1 1 100%;
        display: block;
        color: #fff;
        line-height: 1.2em;
    }
}