.list-shelf {
  &.list-shelf--inline {
      display: flex;
      flex-wrap: wrap;
      &.list-shelf--no-margin-left-item-1:nth-child(1n + 0) {
          margin-left: 0px;
      }
      &.list-shelf--no-margin-left-item-2n-1-lg > .list-shelf__item:nth-child(2n+1),
      &.list-shelf--no-margin-left-item-3n-1-lg > .list-shelf__item:nth-child(3n+1),
      &.list-shelf--no-margin-left-item-4n-1-lg > .list-shelf__item:nth-child(4n+1) {
          margin-left: 0px;
      }
      > .list-shelf__item {
          color: $color-font;
      }
  }
  &--block {
      display: block;
      > .list-shelf__item {
          width: 100%;
          display: flex;
          align-items: center;
          .list-shelf__figure,
          .list-shelf__actions {
              width: 20%;
          }
          .list-shelf__infos {
              width: 60%;
              padding-right: 2%;
              padding-left: 2%;
          }
      }
  }
  .list-shelf__item {
      padding: 10px;
      .list-shelf__infos {
          .list-shelf__title {
              > .list-shelf__link {
                  text-decoration: none;
              }
          }
      }
      .list-shelf__figure {
          a {
              display: block;
              > img {
                  width: 100%;
              }
          }
      }
      .list-shelf__actions {
          .list-shelf__list-price {
              display: block;
              text-decoration: line-through;
          }
          .list-shelf__best-price {
              font-weight: 600;
              > span {
                  display: inline-block;
              }
          }
          .list-shelf__installment {
              margin-bottom: 10px;
          }
      }
  }
}

// Desktop
@media (min-width: $responsive-tablet) and (max-width: $responsive-desktop) {
  .list-shelf {
      &--inline {
          &.list-shelf-5-items > .list-shelf__item {
              width: 20%;
          }
          &.list-shelf-4-items > .list-shelf__item {
              width: 25%;
          }
          &.list-shelf-3-items > .list-shelf__item {
              width: 33%;
          }
      }
  }
}

// Tablet
@media (min-width: $responsive-mobile) and (max-width: $responsive-tablet) {
  .list-shelf {
      &--inline {
          &.list-shelf-4-items > .list-shelf__item {
              width: 50%;
          }
          &.list-shelf-3-items > .list-shelf__item {
              width: 50%;
          }
      }
      &--block {
          > .list-shelf__item {
              > .list-shelf__actions {
                  width: 30%;
              }
              > .list-shelf__figure {
                  width: 20%;
                  a {
                      display: block;
                      > img {
                          width: 100%;
                      }
                  }
              }
              > .list-shelf__infos {
                  width: 50%;
              }
          }
      }
  }
}

// Mobile
@media screen and (max-width: $responsive-mobile) {
  .list-shelf {
      &--inline {
          margin-left: -10px;
          margin-right: -10px;
          &.list-shelf-4-items > .list-shelf__item {
              width: 100%;
          }
      }
      &--block {
          margin-left: -10px;
          margin-right: -10px;
          > .list-shelf__item {
              flex-wrap: wrap;
              > .list-shelf__actions,
              > .list-shelf__figure,
              > .list-shelf__infos {
                  width: 100%;
                  padding: 0px;
              }
              > .list-shelf__figure {
                  margin-bottom: 10px;
              }
          }
      }
  }
}
