.steps-line {
    counter-reset: step;
    padding: 15px;
    overflow: hidden;
}

.steps-line .steps-line__list {
    display: flex;
    align-content: space-between;
}

.steps-line .steps-line__list .c-step {
    list-style-type: none;
    font-size: $font-size-base;
    position: relative;
    text-align: center;
    color: lighten($color-font, 40%);
    flex: 1 1 20%;
    a {
        color: lighten($color-font, 40%);
    }
}

.steps-line .c-step::before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 29px;
    border: 2px solid lighten($color-font, 40%);
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: $layout-secondary;
    z-index: 2;
    position: relative;
}

.steps-line .c-step::after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: lighten($color-font, 40%);
    top: 15px;
    left: -50%;
    z-index: 1;
}

.steps-line .c-step:first-child::after {
    content: none;
}

.steps-line .c-step.active {
    color: $success;    
    a {
        color: $success;
    }
}

.steps-line .c-step.active::before {
    border-color: $success;
}

.steps-line .c-step.active + .c-step::after {
    background-color: $success;
}

.steps-line .c-step.active + .c-step:not(.active)::after {
    background-color: #7d7d7d;
}
