.tooltip {
    position: relative;
    .tooltip__item {
        position: absolute;
        min-width: 140px;
        color: #ffffff;
        background: $color-font;
        line-height: 16px;
        text-align: center;
        opacity: 0;
        border-radius: $border-radius-primary;
        transition: opacity .5s;
        font-size: 12px;
        padding: 10px;
        visibility: hidden;
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            margin-left: -8px;
            width: 0; height: 0;
        }
        &--top {
            bottom: 110%;
            left: 50%;
            margin-left: -76px;
            &::after {
                bottom: -8px;
                border-top: 8px solid $color-font;
                border-right: 8px solid transparent;
                border-left: 8px solid transparent;
            }
        }
        &--bottom {
            top: 110%;
            left: 50%;
            margin-left: -76px;
            &::after {
                top: -8px;
                border-bottom: 8px solid $color-font;
                border-right: 8px solid transparent;
                border-left: 8px solid transparent;
            }
        }
    }
    &:hover {
        .tooltip__item {
            visibility: visible;
            opacity: 0.9;
        }
    }
}
