.end-el-wrap-btns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .meg-el-btn {
        align-self: center;
        &:not(.meg-no-margin-bottom) {
            margin-bottom: $margin-bottom-button;
        }
    }
    .meg-el-btn:not(.meg-el-btn--full) + .meg-el-btn {
        margin-left: $margin-left-button;
    }
}

.meg-lt-row--space-cols {
    margin-bottom: 10px;
}

.end-el-group-btns {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
}
 
.meg-el-btn {
    &--glass {
        overflow: hidden;
    }
    &--glass::before {
        content: "";
        width: 110%;
        height: 110%;
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%);
        display: block;
        position: absolute;
        left: -2px;
        top: -2px;
    }
    &[data-state="default"] {
        color: #333;
    } 
    &[data-state="disabled"] {
        opacity: .5;
        pointer-events: none !important;
    }
    &:focus {
        box-shadow: 0px 0px 10px rgba($color-font, .4);
    }

    position: relative;
    padding: $padding-button;
    text-decoration: none;
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    opacity: 1;
    font-size: $font-size-base - .1;
    display: inline-block;
    line-height: $line-height-base;
    &:not(.meg-el-btn--o) {
        border: 1px solid transparent;
    }
    &--o {
        border-width: 1px;
        border-style: solid;
        background: transparent;
        color: $color-font-o;
    }
    &:hover,
    &[data-state="pressed"] {
        opacity: .9;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .1) inset;
        z-index: 1;
        &.meg-el-btn--glass::before {
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 100%);
        }
    }
    &--full {
        display: block;
        width: 100%;
    }
    &:disabled,
    &--disabled {
        opacity: .4;
    }
    &--icon i {
        margin: 0px;
    }
    &--sized {
        min-width: 90px;
    }
    &--circle {
        line-height: $line-height-base;
    }
    &:not(.meg-el-btn--circle) {
        border-radius: $border_radius_button;
    }
}

.end-el-join-btns {
    display: flex;
    align-content: space-between;
    &--full {
        width: 100%;
    }
    > .meg-el-btn {
        flex: 1 1 auto;
    }
    .meg-el-btn {
        border: 1px solid $color-font;
        border-radius: 0px;
    }
    .meg-el-btn:first-child {
        border-radius: 5px 0px 0px 5px;
        border-right: none;
    }
    .meg-el-btn:last-child {
        border-radius: 0px 5px 5px 0px;
        border-left: none;
    }
    &--primary {
        .meg-el-btn {
            border-color: $primary;
            color: $primary;
            &.meg-el-btn--actived {
                background-color: $primary;
                color: #fff;
            }
        }
    }
    &--secondary {
        .meg-el-btn {
            border-color: $secondary;
            color: $secondary;
            &.meg-el-btn--actived {
                background-color: $secondary;
                color: #fff;
            }
        }
    }
    &--tertiary {
        .meg-el-btn {
            border-color: $tertiary;
            color: $tertiary;
            &.meg-el-btn--actived {
                background-color: $tertiary;
                color: #fff;
            }
        }
    }
    &--quaternary {
        .meg-el-btn {
            border-color: $quaternary;
            color: $quaternary;
            &.meg-el-btn--actived {
                background-color: $quaternary;
                color: #fff;
            }
        }
    }
    &--success {
        .meg-el-btn {
            border-color: $success;
            color: $success;
            &.meg-el-btn--actived {
                background-color: $success;
                color: #fff;
            }
        }
    }
    &--warning {
        .meg-el-btn {
            border-color: $warning;
            color: $warning;
            &.meg-el-btn--actived {
                background-color: $warning;
                color: #fff;
            }
        }
    }
    &--info {
        .meg-el-btn {
            border-color: $info;
            color: $info;
            &.meg-el-btn--actived {
                background-color: $info;
                color: #fff;
            }
        }
    }
    &--cancel {
        .meg-el-btn {
            border-color: $cancel;
            color: $cancel;
            &.meg-el-btn--actived {
                background-color: $cancel;
                color: #fff;
            }
        }
    }
    &--black {
        .meg-el-btn {
            border-color: $black;
            color: $black;
            &.meg-el-btn--actived {
                background-color: $black;
                color: #fff;
            }
        }
    }
    &--white {
        .meg-el-btn {
            border-color: $white;
            color: $white;
            &.meg-el-btn--actived {
                background-color: $white;
                color: $color-font;
            }
        }
    }
}

.meg-el-btn {

    &--small:not(.meg-el-btn--circle) {
        font-size: $font-size-base - .2;
    }
    &--medium:not(.meg-el-btn--circle) {
        font-size: $font-size-base  + .2;
    }
    &--large:not(.meg-el-btn--circle) {
        font-size: $font-size-base + .6;
    }
    &--circle {
        width: 62px;
        height: 62px;
        display: block;
        @extend .meg-u-radius--50;

        font-size: $font-size-base + .55;
    }

}

// Desktop 
@media (min-width: $responsive-tablet) and (max-width: $responsive-desktop) {
    .meg-el-btn {
        &--full-lg {
            display: block;
            width: 100%;
        }
    }
}

// Tablet
@media (min-width: $responsive-mobile) and (max-width: $responsive-tablet) {
    .meg-el-btn {
        &--full-md {
            display: block;
            width: 100%;
        }
    }
}

// Mobile
@media screen and (max-width: $responsive-mobile) {
    .meg-el-btn {
        &--full-sm {
            display: block;
            width: 100%;
        }
    }
}
