.meg-c-form {
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=date],
    input[type=month],
    input[type=time],
    input[type=datetime],
    input[type=datetime-local],
    input[type=week],
    input[type=tel],
    input[type=color],
    input[type=number],
    input[type=search],
    input[type=text],
    input[type=search],
    select,
    textarea {
        padding: $padding-input;
        display: block;
        vertical-align: middle;
        border-radius: $border_radius_input;
    } 
    .meg-c-fieldset__lengend {
        margin-bottom: 10px;
    }
    .meg-c-form__label {
        display: block;
        > .meg-c-form__required {
            display: inline-block;
        }
        > .meg-c-label__text {
            width: auto;
            margin-right: 10px;
        }
        > .meg-c-form__label__small {
            display: block;
            color: lighten($color-font, 30%);
            width: 100%;
        }
        &--checkbox {
            position: relative;
            cursor: pointer;
            padding-left: 24px;
            .meg-c-checkbox {
                display: none;
                &:checked + .meg-c-checkbox_fake::before {
                    content: "\f14a";
                    color: $success;
                }
            }
            .meg-c-checkbox_fake::before {
                content: "\f0c8";
                font-family: "FontAwesome"; 
                display: block;
                position: absolute;
                left: 0;
                top: 0px;
                color: $color-input-border;
            }
            &:hover {
                .meg-c-checkbox_fake::before {
                    content: "\f14a";
                }
            }
        }
        &--radio {
            position: relative;
            cursor: pointer;
            padding-left: 24px;
            .meg-c-radio {
                display: none;
                &:checked + .meg-c-radio_fake::before {
                    content: "\f192";
                    color: $primary;
                }
            }
            .meg-c-radio_fake::before {
                content: "\f10c";
                font-family: "FontAwesome";            
                display: block;
                position: absolute;
                left: 0px;
                top: 0px;
                color: $color-input-border;
            }
            &:hover {
                .meg-c-radio_fake::before {
                    content: "\f192";
                }
            }
        }
    }
    .meg-c-field {
        background-color: lighten($color-input, 5%);
        color: $color-input-text;
        border: $border-size solid $color-input-border;
        &:required:invalid {
            background-image: url("../img/checked-disabled.png");
            background-repeat: no-repeat;
            background-position: 98% center;
        }
        &::placeholder {
            color: lighten($color-font, 50%);
        }
        &:focus {
            outline: 0;
            border-color: darken($color-input-border, 25%);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
        }
    }
    .meg-c-field:disabled {
        cursor: not-allowed;
        background-color: $color-input-disabled;
    }
    .meg-c-field:readonly {
        cursor: not-allowed;
        background-color: $color-input-disabled;
    }
    .meg-c-field:required:focus:invalid {
        border-color: $cancel;
        background-image: url("../img/error.png");
        background-repeat: no-repeat;
        background-position: 98% center;
    }
    .meg-c-field:required:valid {
        border-color: $success;
        background-image: url("../img/checked.png");
        background-repeat: no-repeat;
        background-position: 98% center;
    }
    .meg-c-form__field {
        &--group {
            display: flex;
            .meg-el-btn {
                margin-left: 0px;
            }
            .meg-c-form__icon {
                background-color: $color-input;
                color: $color-font;
                padding: .5em .6em;
                border-top-left-radius: $border_radius_input;
                border-bottom-left-radius: $border_radius_input;
                font-size: $font-size-base - .2;
                display: flex;
                align-items: center;
            }
            .meg-c-form__icon:not(.meg-c-form__icon--join-field) {
                background-color: $color-input;
            }
            .meg-c-form__icon:first-child {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-left: 1px solid $color-input-border;
                border-top: 1px solid $color-input-border;
                border-bottom: 1px solid $color-input-border;
                & + .meg-c-field {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
            }
        }
        &--action {
            .meg-c-field {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            .meg-el-btn {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: $border_radius_input;
                border-bottom-right-radius: $border_radius_input;
            }
        }

        width: 100%;
        .meg-c-field {
            &--full {
                width: 100%;
            }
            &--auto {
                width: auto;
            }
        }

        .meg-c-field + .meg-c-field__message {
            display: block;
            margin-top: 5px;
        }
    }
    .meg-c-form__field:not(.meg-c-form__field--input-medium) {
        .meg-c-field {
            padding: .5em .6em;
        }
    }
    .meg-c-form__field.meg-c-form__field--input-medium {
        .meg-c-field {
            padding: .6em .7em;
        }
    }
    .meg-c-form__field.meg-c-form__field--input-large {
        .meg-c-field {
            padding: .7em .6em;
        }
    }
    .meg-c-form__field.meg-c-form__field--input-medium,
    .meg-c-form__field.meg-c-form__field--input-large {
        .meg-c-form__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
    }
    .meg-c-switch {
        width: 64px;
    }
    .meg-c-switch__input {
        display: none;
    }
    .meg-c-switch__input + .meg-c-switch__label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
        padding: 2px;
        width: 60px;
        height: 30px;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 50px;
    }
    .meg-c-switch__input + .meg-c-switch__label::before,
    .meg-c-switch__input + .meg-c-switch__label::after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
    }
    .meg-c-switch__input + .meg-c-switch__label::after {
        transition: transform .200s;
        will-change: transform;
        transform: translateX(0);
    }
    .meg-c-switch__input:checked + .meg-c-switch__label::before {
        content: attr(data-on);
        text-align: left;
        color: #fff;
        padding: 5px 5px 5px 5px;
    }
    .meg-c-switch__input:not(:checked) + .meg-c-switch__label::before {
        content: attr(data-off);
        text-align: right;
        color: #fff;
        padding: 5px 5px 5px 5px;
    }
    .meg-c-switch__input + .meg-c-switch__label::before {
        right: 1px;
        background-color: rgba(0, 0, 0, .05);
        border-radius: 50px;
    }
    .meg-c-switch__input + .meg-c-switch__label::after {
        width: 30px;
        background-color: $white;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
    .meg-c-switch__input:checked + .meg-c-switch__label::before {
        background-color: #00cc99;
    }
    .meg-c-switch__input:checked + .meg-c-switch__label::after {
        transform: translateX(29px);
    }
}

.meg-c-field--select-fake {
    position: relative;
    select.meg-c-field {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    select.meg-c-field::-ms-expand {
        display: none;
    }
    &::after {
        content: "\f078";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        right: 10px;
        color: $primary;
        top: 50%;
        margin-top: -6px;
    }
}

select.meg-c-field {
    appearance: none;
    background: red;
    &::after {
        content: "\f054";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
}

// Device (Mobile and tablet)
@media screen and (max-width: $responsive-tablet) {
    .meg-c-form {
        .meg-lt-row {
            justify-content: flex-start;
        }
        .meg-c-form__field {
            width: 100%;
            flex-wrap: nowrap;
        }
        .meg-c-field__message {
            display: block;
        }
    }
}

@media screen and (max-width: $responsive-mobile) {
    .meg-c-form__label {
        text-align: left;
    }

    .meg-el-btn {
        &--full-md {
            width: 100%;
            margin-left: 0px;
        }
    }
    .meg-c-form.meg-c-form--aligned {
        .meg-c-field__message {
            padding: 0px;
        }
    }
}