.meg-el-list {
    margin-bottom: $margin-bottom-list;
    &:not(.meg-el-list--no-negative-margin) {
        margin-left: $padding-left * -1;
    }
    &.meg-el-list--inline {
        display: flex;
    }
    &.meg-el-list--actions {
        > .meg-el-list__item {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    > .meg-el-list__item {
        color: $color-font;
        padding: $padding-top $padding-right $padding-bottom $padding-left;
        position: relative;
        &.meg-el-list__item--not-actions {
            .meg-el-item__content {
                flex: 1 1 auto;
            }
        }
        .meg-el-item__avatar {
            text-align: left;
            margin-right: 15px;
            > a {
                display: block;
            }
        }
        .meg-el-item__content {
            flex: 1 1 auto;
            > span {
                display: block;
            }
            .meg-el-content__pretitle {
                font-size: .9em;
                font-weight: 100;
                margin-bottom: 2px;
            }
            .meg-el-content__title {
                font-weight: bold;
                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                margin-bottom: 2px;
            }
            .meg-el-content__subtitle {
                opacity: .8;
            }
        }
        .meg-el-item__actions {
            flex: 0 1 25%;
            width: 25%;
            text-align: right;
            a {
                opacity: .8;
                &:hover {
                    opacity: .6;
                }
            }
        }
        &:not(.meg-el-list__item--featured):hover {
            background-color: rgba($color-lt-bg-hover, .8);
        }
        i {
            margin-right: 10px;
        }
        .meg-el-item__link {
            color: $color-font;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &.meg-el-list--horizontal {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 10px;
        &.meg-el-list--avatar {
            img {
                width: 100%;
            }
        }
        &.meg-el-list--horizontal--auto {
            > .meg-el-list__item {
                flex: 1 1 auto;
            }
        }
    }
}

.meg-el-list--icon-desc {
    display: flex;
    > .meg-el-list--icon__item {
        padding: $padding;
        position: relative;
        .meg-el-list--item__link {
            display: flex;
            align-items: center;
            .meg-el-list--icon {
                margin-right: 10px;
                font-size: 2.5em;
                line-height: 1.3em;
            }
            .meg-el-list--info {
                align-items: center;
                > .meg-c-item__title,
                > .meg-c-item__sub-title {
                    display: block;
                }
                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline !important;
                    }
                }
            }
        }
    }
    > .meg-el-list--icon__item + .meg-el-list--icon__item {
        margin-left: 10px;
    }
}

.meg-u-list-style {
    margin-left: 15px;
    margin-bottom: 10px;
}

.meg-el-list-normal {
    .meg-el-list-normal__title {
        font-size: 1.2em;
        padding: 10px 0px;
        margin-bottom: 0px;
    }
}

.meg-el-list-normal__list {
    &.meg-el-list-normal__list--inline {
        display: flex;
        width: 100%;
        flex: 0 1 100%;
        .meg-el-list-normal__item {
            margin-left: 5px;
            margin-right: 5px;
        }
        .meg-el-list-normal__sep {
            line-height: $line-height-base - .1;
        }
        .meg-el-list-normal__item:nth-child(1) {
            margin-left: 0px;
        }
        .meg-el-list-normal__item:last-child {
            margin-right: 0px;
        }
    }
    .meg-el-list-normal__item {
        display: block;
        font-size: 1.1em;
        position: relative;
        cursor: pointer;
        a.meg-el-list-normal__link {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        > i {
            margin-right: 5px;
        }
    }
    &:not(.meg-el-list--no-margin-bottom) {
        .meg-el-list-normal__item {
            margin-bottom: 10px;
        }
    }
}

.meg-el-list--icons {
    align-content: space-between;
    > .meg-el-list--icons__item {
        flex: 1 1 auto;
        text-align: center;
        margin-bottom: 10px;
        > .meg-el-item__link {
            color: $color-font;
            text-decoration: none;
            display: block;
            .meg-el-link__title {
                display: block;
            }
            i {
                font-size: 2em;
            }
            &.meg-el-item__link--actived,
            &:hover {
                color: $primary;
            }
        }
    }
}

// Device (Mobile and tablet)
@media screen and (max-width: $responsive-tablet) {

    .meg-el-list.meg-el-list--horizontal:not(.meg-el-list--icons):not(.meg-el-list--no-margin-bottom) {
        flex-direction: column;
    }

    .meg-el-list-normal__list--inline {
        flex-wrap: wrap;
        &:not(.meg-el-list--no-margin-bottom) {
            flex-direction: column;
        }
        > .meg-el-list-normal__item {
            margin-left: 0px !important;
        }
    }

}

@media screen and (max-width: $responsive-mobile) {

    .meg-el-list-normal__lists {
        overflow-x: auto;
    }

    .meg-el-list-normal__list--inline {
        width: 1000px !important;
        overflow-x: auto;
    }

    .meg-el-list--icon {
        margin-right: 0px !important;
    }

}