.meg-el-table {
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    &.meg-el-table--center {
        text-align: center;
        th {
            text-align: center;
        }
    }
    > thead {
        text-align: left;
        vertical-align: bottom;
        background-color: $color-lt-bg-light;
    }
    tr {
        border-bottom: 1px solid $color-border;
    }
    th,
    td {
        padding: $padding;
        vertical-align: middle;
    }
    &.meg-el-table--bordered {
        th,
        td {
            border: 1px solid $color-border;
        }
    }
    &.meg-el-table--striped {
        tbody tr:nth-child(2n+1) {
            background-color: lighten($color-font, 20%);
        }
    }
    &.meg-el-table--lighted {
        thead {
            background: transparent !important;
        }
    }
}