<aside class="l-sidebar u-m-t-10x l-arrow--sm l-arrow--md l-col l-col--2-lg l-col--12-md l-col--12-sm">

    <div class="l-header">
        <h4 class="l-logo u-no-bottom-margin u-text-center">
            <a href="${host}" class="l-logo__link js-redirect u-text-center" title="MEG CSS Framework">
                <img src="assets/images/icon-512.png" alt="MEG" width="80px" height="auto" />
            </a>
        </h4>
    </div>

    <div class="l-row l-row--no-margin-bottom u-align-items-center u-no-bottom-margin">
        <div class="l-col l-col--12-lg l-col--12-md l-col--12-sm u-no-bottom-margin u-align-right u-align-self-center">
            <a href="https://github.com/savanajs/MEG/archive/master.zip" class="el-btn u-box-shadow el-btn--glass el-btn--radius u-bg-primary u-color-white el-btn--full-lg el-btn--full-sm" title="Download">
                <i class="fa fa-download" aria-hidden="true"></i>
                <span class="s-is-visible-lg">Download</span>
            </a>
        </div>
    </div>

    <input class="l-arrow__checkbox" id="l-sidebar__arrow" type="checkbox" />

    <div class="l-sidebar__header l-arrow__header s-is-hidden-lg">

        <h4 class="el-heading el-heading--3">
            Navigation
        </h4>

        <p class="l--sub-heading">Start your next web project.</p>

        <label class="l-arrow__button l-arrow__button--large" for="l-sidebar__arrow">
            <i class="fa fa-angle-right u-m-t-10" aria-hidden="true"></i>
        </label>

    </div>

    <div class="l-sidebar__main l-arrow__target u-position-top u-stick-lg">

        <input class="l-arrow__checkbox l-arrow__checkbox--force" id="menu-dropdow--get-started" type="checkbox" />

        <hgroup class="l-arrow__header">

            <h5 class="el-heading el-heading--5 u-p-t-10 u-p-b-10 no-margin-bottom">
                <a class="el-heading__link" href="#get-started" title="Get Started">
                    Get Started
                </a>
            </h5>

            <label class="l-arrow__button l-arrow__button--large" for="menu-dropdow--get-started">
                <i class="fa fa-angle-right u-m-t-10" aria-hidden="true"></i>
            </label>

        </hgroup>

        <div class="l-arrow__target">
            <ul class="el-list">
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#instalation" title="Instalation">
                            Instalation
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#basic-struct" title="Compatibility">
                            Basic struct
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#webpack" title="Compatibility">
                            Webpack
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#customize" title="Compatibility">
                            Customize
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#compatibility" title="Compatibility">
                            Compatibility
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#github" title="Github">
                            Github
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#download" title="Download">
                            Download
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <input class="l-arrow__checkbox l-arrow__checkbox--force" id="menu-dropdow--layout" type="checkbox" />

        <hgroup class="l-arrow__header">

            <h5 class="el-heading el-heading--5 u-p-t-10 u-p-b-10 no-margin-bottom">
                <a class="el-heading__link" href="#layout" title="Layout">
                    Layout
                </a>
            </h5>

            <label class="l-arrow__button l-arrow__button--large" for="menu-dropdow--layout">
                <i class="fa fa-angle-right u-m-t-10" aria-hidden="true"></i>
            </label>

        </hgroup>

        <div class="l-arrow__target">
            <ul class="el-list">
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#grid" title="Grid">
                            Grid
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#reponsive" title="Responsive">
                            Responsive
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <input class="l-arrow__checkbox l-arrow__checkbox--force" id="menu-dropdow--helpers" type="checkbox" />

        <hgroup class="l-arrow__header">

            <h5 class="el-heading el-heading--5 u-p-t-10 u-p-b-10 no-margin-bottom u-color-primary">
                Helpers
            </h5>

            <label class="l-arrow__button l-arrow__button--large" for="menu-dropdow--helpers">
                <i class="fa fa-angle-right u-m-t-10" aria-hidden="true"></i>
            </label>

        </hgroup>

        <div class="l-arrow__target">
            <ul class="el-list">
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#helpers--colors" title="Helpers">
                            Colors
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#helpers--text" title="Helpers">
                            Text
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#helpers--aligments" title="Helpers">
                            Aligments
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#helpers--margins" title="Helpers">
                            Margins
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#helpers--paddings" title="Helpers">
                            Paddings
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#helpers--position" title="Helpers">
                            Position
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#helpers--display" title="Helpers">
                            Display
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#helpers--grid" title="Helpers">
                            Grid
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#helpers--border" title="Helpers">
                            Border
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#helpers--form" title="Helpers">
                            Form
                        </a>
                    </div>
                </li>
                <li class="el-list__item">
                    <div class="el-item__content">
                        <a class="el-item__link" href="#helpers--others" title="Helpers">
                            Others
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <input class="l-arrow__checkbox l-arrow__checkbox--force" id="menu-dropdow--elements" type="checkbox" />

        <hgroup class="l-arrow__header">

            <h5 class="el-heading el-heading--5 u-p-t-10 u-p-b-10 no-margin-bottom">
                <a class="el-heading__link" href="#elements" title="Elements">
                    Elements
                </a>
            </h5>

            <label class="l-arrow__button l-arrow__button--large" for="menu-dropdow--elements">
                <i class="fa fa-angle-right u-m-t-10" aria-hidden="true"></i>
            </label>

        </hgroup>

        <div class="l-arrow__target">
            <ul class="el-list">
                <li class="el-list__item">
                    <a class="el-item__link" href="#elements-headings" title="Headings">
                        Headings
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#elements-links" title="Links">
                        Links
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#elements-line" title="Line">
                        Line
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#elements-buttons" title="Buttons">
                        Buttons
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#elements-tables" title="Tables">
                        Tables
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#elements-list" title="List">
                        List
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#elements-forms" title="Forms">
                        Forms
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#elements-images" title="Images">
                        Images
                    </a>
                </li>
            </ul>
        </div>

        <input class="l-arrow__checkbox l-arrow__checkbox--force" id="menu-dropdow--components" type="checkbox" />

        <hgroup class="l-arrow__header">

            <h5 class="el-heading el-heading--5 u-p-t-10 u-p-b-10 no-margin-bottom">
                <a class="el-heading__link" href="#components" title="Components">
                    Components
                </a>
            </h5>

            <label class="l-arrow__button l-arrow__button--large" for="menu-dropdow--components">
                <i class="fa fa-angle-right u-m-t-10" aria-hidden="true"></i>
            </label>

        </hgroup>

        <div class="l-arrow__target">
            <ul class="el-list">
                <li class="el-list__item el-list__item--featured">
                    <strong>Informations</strong>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--information--message-box" title="Message Box">
                        Message Box
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--information--message-text" title="Message Text">
                        Message Text
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--information--tooltip" title="Tooltip">
                        Tooltip
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--information--tags" title="Tags">
                        Tags
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--information--badges" title="Badges">
                        Badges
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--information--navbar" title="Navbar">
                        Navbar
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--dropdow" title="Dropdown">
                        Dropdown
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--information--notify" title="Notify">                
                        Notify
                    </a>
                </li>
                <li class="el-list__item el-list__item--featured" title="Popups">
                    <strong>Popups</strong>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--popups--modal" title="Modal">
                        Modal
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--popups--alert" title="Alert">
                        Alert
                    </a>
                </li>
                <li class="el-list__item el-list__item--featured" title="Loaders">
                    <strong>Loaders</strong>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--loading" title="Loading">
                        Loading
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--progress-bar" title="Progress Bar">
                        Progress Bar
                    </a>
                </li>
                <li class="el-list__item el-list__item--featured" title="Others">
                    <strong>Others</strong>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--lazy-load" title="Lazy Load">
                        Lazy Load
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--jumbotron" title="Jumbotron">
                        Jumbotron
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--icons" title="Icons">
                        Icons
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--fonts" title="Fonts">
                        Fonts
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--slide-box" title="Slide box">
                        Slide box
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--accordion" title="Accordion">
                        Accordion
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--pagination" title="Pagination">
                        Pagination
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--dropdow-list" title="Dropdow list">
                        Dropdow list
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--tabs" title="Tabs">
                        Tabs
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#components--card" title="Card">
                        Card
                    </a>
                </li>
            </ul>
        </div>

        <input class="l-arrow__checkbox l-arrow__checkbox--force" id="menu-dropdow--ui" type="checkbox" />

        <hgroup class="l-arrow__header">

            <h5 class="el-heading el-heading--5 u-p-t-10 u-p-b-10 no-margin-bottom">
                <a class="el-heading__link" href="#ui" title="UI">
                    UI
                </a>
            </h5>

            <label class="l-arrow__button l-arrow__button--large" for="menu-dropdow--ui">
                <i class="fa fa-angle-right u-m-t-10" aria-hidden="true"></i>
            </label>

        </hgroup>

        <div class="l-arrow__target">
            <ul class="el-list">

                <li class="el-list__item">
                    <a class="el-item__link" href="#ui-menu" title="Menu">
                        Menu
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#ui-breadcrumb" title="Breadcrumb">
                        Breadcrumb
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#ui-pitbar" title="Pitbar">
                        Pitbar
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#ui-ribbon" title="Ribbon">
                        Ribbon
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#ui-shelf" title="Shelf">
                        Shelf
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#ui-table-list" title="Table list">
                        Table list
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#ui-filter-sidebar" title="Filter siderbar">
                        Filter siderbar
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#ui-content" title="Content">
                        Content
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#ui-step-line" title="Step line">
                        Step line
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#ui-stores" title="Stores">
                        Stores
                    </a>
                </li>
                <li class="el-list__item">
                    <a class="el-item__link" href="#ui-content-placeholder" title="Content placeholder">
                        Content placeholder
                    </a>
                </li>
            </ul>
        </div>

        <div class="l-row l-row--no-margin-bottom u-align-items-center u-no-bottom-margin">
            <div class="l-col u-align-self-center l-col--4-lg l-col--8-md l-col--3-sm u-no-bottom-margin">
                <div class="l-row u-align-right">
                    <form class="c-form">
                        <fieldset class="c-form__fieldset">
                            
                            <div class="c-form__switch">
                                <input id="switch-tpl" class="c-switch__input" type="checkbox" checked />
                                <label class="c-switch__label" data-on="ON" data-off="OFF" for="switch-tpl"></label>
                            </div>
                            
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
    
</aside>
