// Images
$logo: "../img/logo.svg";
$logo-mobile: "../img/logo-mobile.svg";
$logo-width: 100px;
$logo-height: 40px;
$logo-mobile-width: 50px;
$logo-mobile-height: 40px;
$image-gif-loading-primary: "../img/meg-before-loading.gif";
$image-gif-loading-secondary: "../img/meg-loading-bar.gif";
$image-gif-loading-tertiary: "../img/meg-loader-small.gif";

// Colors
$primary: #00cc99;
$secondary: #f69311;
$tertiary: #c25400;
$quaternary: #008560;
$success: #00cc99;
$cancel: #cc3300;
$warning: #ffcc00;
$info: #0099cc;
$black: #000;
$white: #fff;
$light: #f5f5f5;
$dark-primary: #212121;
$dark-secondary: #2a2a2b;
$dark-tertiary: #3d3d3f;
$gray: #e5e5e5;

// Layout colors
$layout-primary: $white;
$layout-secondary: $white;
$layout-tertiary: $light;

// Colors defined
$color-font: #333;
$color-font-o: $color-font;
$color-column: transparent;
$color-input: $white;
$color-input-text: $color-font;
$color-input-disabled: $gray;
$color-input-border: #dadce0;
$color-border: #dadce0;
$color-link: $primary;
$color-strong: $color-font;
$pre-background: $gray;
$hr-background: $gray;
$code-background: $light;
$color-checked-radio: #dadce0;

// Colors for theme
$background: $layout-primary;
$color-lt-primary: $layout-primary;
$color-lt-secondary: $layout-secondary; 
$color-lt-tertiary: $layout-tertiary;
$color-lt-bg-hover: $gray;
$color-lt-bg-scrolling: $layout-tertiary;
$color-lt-bg-bar: $primary;
$color-lt-bg-light: $layout-tertiary;
$color-lt-bg-content: $layout-secondary;
$color-lt-bg-content-placeholder-primary: darken($layout-tertiary, 5%);
$color-lt-bg-content-placeholder-secondary: $layout-tertiary;
