.btn {
    position: relative;
    text-decoration: none;
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    opacity: 1;
    font-size: $font-size-base - .1;
    display: inline-block;
    line-height: $line-height-base;
    opacity: .85;

    &:disabled {
      opacity: .5;
      pointer-events: none;
    }

    &:focus {
        box-shadow: 0px 0px 10px rgba($color-font, .2);
    }

    &:not(.btn--circle) {
        padding: $padding-button;
    }

    &:not(.btn--o) {
        border: 1px solid transparent;
    }

    &--o {
        border-width: 1px;
        border-style: solid;
        background: transparent;
    }

    &--o:not([class*="u-color"]) {
        color: $color-font-o;
    }

    &:hover,
    &[data-state="pressed"] {
        opacity: 1;
    }

    &--full {
        display: block;
        width: 100%;
    }

    &:disabled,
    &--disabled {
        opacity: .4;
    }

    &--icon i {
        margin: 0px;
    }

    &--sized {
        min-width: 90px;
    }

    &--circle {
        line-height: $line-height-base;
    }

    &:not(.btn--circle):not(.not-min-width) {
        border-radius: $border_radius_button;
        min-width: 94px;
    }

    .btn--circle {
        justify-content: center;
    }

    &--small:not(.btn--circle) {
      font-size: $font-size-base - .2;
    }

    &--medium:not(.btn--circle) {
        font-size: $font-size-base + .3;
    }

    &--large:not(.btn--circle) {
        font-size: $font-size-base + .6;
    }

    &--circle {
        width: 62px;
        height: 62px;
        display: flex;
        justify-content: center;
        font-size: $font-size-base + .55;

        @extend .u-radius--50;
    }
}

.btns--join {
    display: flex;
    align-content: space-between;
    width: 100%;
    > .btn {
        flex: 1 1 auto;
    }
    .btn {
        border-radius: 0px !important;
    }
    .btn:first-child {
        border-radius: 5px 0px 0px 5px !important;
        border-right: none;
    }
    .btn:last-child {
        border-radius: 0px 5px 5px 0px !important;
        border-left: none;
    }
}

@include mq('desktop') {
    .btn {
        &--full-lg {
            display: block;
            width: 100%;
        }
    }
}

@include mq('tablet') {
    .btn {
        &--full-md {
            display: block;
            width: 100%;
        }
    }
}

@include mq('mobile') {
    .btn {
        &--full-sm {
            display: block;
            width: 100%;
        }
    }
}
