.btn {
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: $font-size-base - .1;
    display: inline-block;
    line-height: $line-height-base;

    &:disabled,
    &--disabled {
        opacity: .4;
        pointer-events: none;
    }

    &--icon i {
        margin: 0px;
    }

    &--sized {
        min-width: 90px;
    }

    &--circle {
        line-height: $line-height-base;
        align-items: center;
    }

    &--small:not(.btn--circle) {
      font-size: $font-size-base - .4;
    }

    &--medium:not(.btn--circle) {
        font-size: $font-size-base + .3;
    }

    &--large:not(.btn--circle) {
        font-size: $font-size-base + .6;
    }

    &--circle {
        width: 62px;
        height: 62px;
        display: flex;
        justify-content: center;
        font-size: $font-size-base + .55;

        @extend .u-radius--50;
    }

    &--o {
      border-width: 1px;
      border-style: solid;
      background: transparent;
    }

    &--o:not([class*="u-color"]) {
        color: $color-font-o;
    }

    &--full {
        display: block;
        width: 100%;
    }

    &[data-state="pressed"],
    &:focus {
        box-shadow: 0px 0px 5px 3px rgba(0,0,0,.1) inset;
    }

    &:not(:disabled):hover:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0,0,0,.05);
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        border-radius: $border_radius_button;
    }

    &:not(.btn--circle) {
        padding: $padding-button;
    }

    &:not(.btn--o) {
        border: 1px solid transparent;
    }

    &:not(.btn--circle) {
        border-radius: $border_radius_button;
    }

    &:not(&--width-auto):not(.btn--circle) {
      min-width: 124px;
    }

    .btn--circle {
        justify-content: center;
    }

}

.btns--join {
    display: flex;
    align-content: space-between;
    width: 100%;
    > .btn {
        flex: 1 1 auto;
    }
    .btn {
        border-radius: 0px !important;
    }
    .btn:first-child {
        border-radius: 5px 0px 0px 5px !important;
        border-right: none;
    }
    .btn:last-child {
        border-radius: 0px 5px 5px 0px !important;
        border-left: none;
    }
}

@include mq('desktop') {
    .btn {
        &--full-lg {
            display: block;
            width: 100%;
        }
    }
}

@include mq('tablet') {
    .btn {
        &--full-md {
            display: block;
            width: 100%;
        }
    }
}

@include mq('mobile') {
    .btn {
        &--full-sm {
            display: block;
            width: 100%;
        }
    }
}
