.el-heading {
    line-height: $line-height-heading;
    &:not(.no-strong-weight) {
        font-weight: $strong-weight;
    }
    
    &:not(.no-margin-bottom) {
        margin-bottom: $margin-bottom-heading / 2;
    }

    &.el-heading--plus-left {
        padding-left: $padding-left;
    }
    .el-heading__link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &--font-color {
            color: $color-font;
        }
    }
    &--1 {
        font-size: $font-size-base + 1.2;
    }
    &--2 {
        font-size: $font-size-base + .8;
    }
    &--3 {
        font-size: $font-size-base + .6;
    }
    &--4 {
        font-size: $font-size-base + .4;
    }
    &--5 {
        font-size: $font-size-base;
    }
}

.l--sub-heading {
    margin-bottom: 0px; 
}