.heading {
    .heading__link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }

    }

    &--1 {
        font-size: $heading-1;
        margin-bottom: $heading-1-margin-bottom;
        line-height: $heading-1;
    }

    &--2 {
        font-size: $heading-2;
        margin-bottom: $heading-2-margin-bottom;
        line-height: $heading-2;
    }

    &--3 {
        font-size: $heading-3;
        margin-bottom: $heading-3-margin-bottom;
        line-height: $heading-3;
    }

    &--4 {
        font-size: $heading-4;
        margin-bottom: $heading-4-margin-bottom;
        line-height: $heading-4;
    }

    &--5 {
        font-size: $font-size-base;
        margin-bottom: $heading-5-margin-bottom;
        line-height: $heading-4;
    }
}

.sub-heading {
    margin-bottom: 0px; 
}
