.list {
    &--inline {
        display: flex;
    }

    &--block {
        display: flex;
        flex-wrap: wrap;

        > .list__item {
            width: 33%;
        }
    }

    &--actions {
        > .list__item {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__item {
      font-size: $font-size-base;
      line-height: $font-size-base + 1.4rem;

      &:not([class*=u-color]) {
          color: $color-font;
      }

      &:not(.not-hover):hover {
        background-color: rgba($color-l-bg-hover, .4);
      }

      &.not-hover:hover {
        text-decoration: underline;
      }

      &--flex {
        display: flex;
      }

      position: relative;  
    }

    &__link {
      &:not([class*=u-color]) {
          color: $color-font;
      }

      padding: $padding-top $padding-right $padding-bottom $padding-left;
      display: block;
      text-decoration: none;
    }

    &__icon {
      margin-right: 10px;
    }

    &__content {
      flex: 1;
    }

    &__avatar {
      margin-right: 10px;
    }
}

.lists {
  &__item {
    margin-bottom: $margin-bottom;
  }

  &__icon {
    margin-right: 5px;
  }

  &--inline {
    @include mq('desktop') {
      display: flex;

      .lists__item + .lists__item {
        margin-left: 10px;
      }
  
    }

    @include mq('tablet') {
      display: flex;

      .lists__item + .lists__item {
        margin-left: 10px;
      }
  
    }
  }
}
